body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
p{
    font-size: 20px;
    text-align: justify;
}
h1{
    font-size: 50px;
    font-weight: 900;
    
}
/* <!-- top-section start --> */

.color-h1{
    color: rgb(240, 153, 39);
}
.border-h1{
    border-left: 5px solid rgb(241, 76, 76);
    padding: 5px;
}
.top-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 50px;
}
.max-width{
    width: 50%;
}
.max-width img{
    width: 60%;
}
.btn{
    background: rgb(241, 76, 76);
    font-size: 15px;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
}
/* top-section end  */

/* Card Section Start */
.my-mission{
    text-align: center; 
    margin-bottom: 100px;
 }
.card-section{
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
    
   
}
.card{
    width: 25%;
  border-radius: 8px;
  box-shadow: 4px 4px 12px gray;
  padding: 20px;
}
.card-img img{
    width: 40%;
    
}
.card-info{
    align-items: center;
}
.Mission{
    background: rgb(248, 213, 203);
}
.Vission{
    background: rgb(227, 245, 198);
}
.Goals{
    background: rgb(243, 234, 154);
}

/* Card Section End */


/* #rd section start */
.develop-section{
   
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 5% 0 5%;
}
.develop-bg{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: left;
    
}
.develop-img img{
    width: 60%;
    margin-left: 130px;
}
.developr{
    margin-right: 30px;
}
/* #rd section End */

/* $th section start */
.Know-bg{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: bottom 0 right 30px;
}
.project-img img{
    width: 60%;
    margin-left: 150px;
}
/* $th section End */
/* lest section Start */
.business{
    display: flex;
    margin: 5%  0 0 0;
    }
.cv-width{
    width: 50%;
    padding: 40px;
}
.last-cv{
    
}
.business-bg{
   background: rgb(226, 223, 219);
}
.email{
    margin: 150px 0 0 200px;
    
}
.email input{
    border: 3px solid rgb(241, 76, 76);
    font-size: 25px;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* lest section End */

/* footer start */
footer{
    margin-top: 50px;
    background: #000;
    text-align: center;
    padding: 40px;
    
}
.fooer-section{
    color: #fff;
    
}
.fooer-section p{
    
    color: #fff;
    text-align: center;
}
.footer-p{
    margin-bottom: 40px;
}
/* footer end */

